html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px 0 10px 0;
}

h2 {
  font-size: 45px;
  margin: 10px;
}


.top-button {
	display: block;
	font-size: 20px;
	margin: 10px;
	color: blue;
}

figure {
  display: inline-block;
  border: 10px solid black;
}

ul {
}

ul:after, .group:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.apple {
  background: red;
}

.snake {
  background: green;
}

.button-container {
	display: block;
	width: 100%;
}
.buttons {
	display: block;
	max-width: 420px;
	margin: 0 auto;
}

.bottom-icons > img{
	margin: 0;
}

.bottom-icons {
	float: left;
	text-decoration: none;
	color: black;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	margin: 10px 25px;
}

.bottom-icons:first-child {
	margin-left: 0;
}

.bottom-icons:last-child {
	margin-right: 0;
}
